.login {
  display: grid;
  background-color: black;
  height: 100vh;
  place-items: center;
}

.login img {
  width: 55%;
  height: 60vh;
}
@media (max-width: 768px) {
  .login img {
    width: 100% !important;
    height: 50vh !important;
  }
}
.login > a {
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 99px;
  font-weight: 800;
  background-color: #1db954;
}
